<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaymentReturnScheme</key>
	<string>hotelia</string>
	<key>MoMoPartnerCode</key>
	<string>YOUR_MOMO_PARTNER_CODE</string>
	<key>MoMoAccessKey</key>
	<string>YOUR_MOMO_ACCESS_KEY</string>
	<key>MoMoSecretKey</key>
	<string>YOUR_MOMO_SECRET_KEY</string>
	<key>MoMoEndpoint</key>
	<string>https://test-payment.momo.vn/v2/gateway/api/create</string>
	<key>MoMoIpnUrl</key>
	<string>https://your-domain.com/payment/momo/ipn</string>
	<key>VNPayTmnCode</key>
	<string>YOUR_VNPAY_TMN_CODE</string>
	<key>VNPayHashSecret</key>
	<string>YOUR_VNPAY_HASH_SECRET</string>
	<key>VNPayPaymentUrl</key>
	<string>https://sandbox.vnpayment.vn/paymentv2/vpcpay.html</string>
	<key>OpenWeatherAPIKey</key>
	<string>YOUR_OPENWEATHER_API_KEY</string>
	<key>CloudinaryCloudName</key>
	<string>YOUR_CLOUDINARY_CLOUD_NAME</string>
	<key>CloudinaryUploadPreset</key>
	<string>YOUR_CLOUDINARY_UPLOAD_PRESET</string>
	<key>AdminSecretPassword</key>
	<string>YOUR_ADMIN_PASSWORD</string>
</dict>
</plist>
